*
!.gitignore
!README.md

!HW1
!HW1/codes
!HW1/HW1.pdf
!HW1/Report.md
!HW1/Report.pdf
!HW1/codes/*.py
!HW1/codes/README.md
!HW1/codes/data
!HW1/codes/data/*


!HW1_final_version
!HW1_final_version/codes
!HW1_final_version/HW1.pdf
!HW1_final_version/Report.md
!HW1_final_version/Report.pdf
!HW1_final_version/codes/*.py
!HW1_final_version/codes/README.md
!HW1_final_version/codes/data
!HW1_final_version/codes/data/*
!HW1_final_version/codes/log
!HW1_final_version/codes/log/*